    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Poppins', sans-serif;
    }
    
    body {
        min-height: 100vh;
    }
    
    a {
        text-decoration: none;
    }
    
    li {
        list-style: none;
    }
    
    h1,
    h2 {
        margin-top: 10px;
        color: #444;
    }
    
    h3 {
        color: #999;
    }
    
    .btn {
        background: #f05462;
        color: white;
        padding: 5px 10px;
        text-align: center;
    }
    
    .btn:hover {
        color: #f05462;
        background: white;
        padding: 3px 8px;
        border: 2px solid #f05462;
    }
    
    .title {
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding: 15px 10px;
        border-bottom: 2px solid #999;
    }
    
    table {
        padding: 10px;
    }
    
    th,
    td {
        text-align: left;
        padding: 8px;
    }
    
    .side-menu {
        position: fixed;
        background: #f05462;
        width: 20vw;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
    }
    
    .side-menu .brand-name {
        height: 10vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .side-menu li span a {
        text-decoration: none;
        font-size: 24px;
        padding: 10px 40px;
        color: white;
        display: flex;
        align-items: center;
    }
    
    .side-menu li span a:hover {
        background: white;
        color: #f05462;
    }
    
    .container {
        position: absolute;
        right: 0;
        width: 78vw;
        height: 100vh;
    }
    
    .container .header {
        position: fixed;
        top: 0;
        right: 0;
        width: 78vw;
        height: 10vh;
        display: flex;
        align-items: center;
        justify-content: center;
        background: white;
        z-index: 1;
    }
    
    .container .header .nav {
        width: 90%;
        display: flex;
        align-items: center;
    }
    
    .container .header .nav .search {
        flex: 3;
        display: flex;
        justify-content: center;
    }
    
    .container .header .nav .search input[type=text] {
        border: none;
        background: #f1f1f1;
        padding: 10px;
        width: 50%;
    }
    
    .container .header .nav .search button {
        width: 40px;
        height: 40px;
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .container .header .nav .search button img {
        width: 30px;
        height: 30px;
    }
    
    .container .header .nav .user {
        flex: 1;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .container .header .nav .user img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
    }
    
    .container .header .nav .user .img-case {
        position: relative;
        width: 50px;
        height: 50px;
    }
    
    .container .header .nav .user .img-case img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    
    .container .header .nav .user a {
        border-radius: 10px;
    }
    
    .container .content {
        position: relative;
        margin-top: 10vh;
        min-height: 90vh;
        background: #f1f1f1;
    }
    
    .container .content .cards {
        padding: 20px 15px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    
    .container .content .cards .card {
        width: 250px;
        height: 150px;
        background: white;
        margin: 20px 10px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    
    .container .content .content-2 {
        min-height: 60vh;
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
        flex-wrap: wrap;
    }
    
    .container .content .content-3 {
        margin: 50px;
        width: 500px;
    }
    
    .container .content .content-3 h1 {
        color: #f05462;
        font-size: 30px;
        font-weight: 700;
        margin-bottom: 50px;
    }
    
    .container .content .content-3 form label {
        font-size: 25px;
        font-weight: 300;
        margin: 10px;
    }
    
    .container .content .content-3 form input {
        margin-left: 10px;
        height: 30px;
        font-size: 20px;
        border-radius: 10px;
        border: 2px solid#000;
        margin-bottom: 10px;
    }
    
    .container .content .content-3 form button {
        width: 150px;
        height: 40px;
        color: #fff;
        background: #f05462;
        font-size: 30px;
        font-weight: 300;
        border: 2px solid#f05462;
        border-radius: 10px;
    }
    
    .container .content .content-3 form button:hover {
        color: #000;
        background: steelblue;
        border: 2px solid steelblue;
        border-radius: 20px;
    }
    
    .container .content .content-2 .recent-payments {
        min-height: 50vh;
        flex: 5;
        background: white;
        margin: 0 25px 25px 25px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        display: flex;
        flex-direction: column;
    }
    
    .container .content .content-2 .new-students {
        flex: 2;
        background: white;
        min-height: 50vh;
        margin: 0 25px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        display: flex;
        flex-direction: column;
    }
    
    .container .content .content-2 .new-students table td:nth-child(1) img {
        height: 40px;
        width: 40px;
    }