* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #fff;
}

.p-img {
    margin-top: 80px;
    margin-left: 30%;
    width: 400px;
    height: 300px;
}

.p-img .img-sec {
    width: 250px;
    height: 250px;
    justify-content: center;
    align-items: center;
}

.p-img .img-sec img {
    width: 250px;
    height: 250px;
    border: 3px solid #000;
    border-radius: 100%;
}

.p-img form .icon button {
    width: 100px;
    height: 40px;
    justify-content: center;
    align-items: center;
    margin-left: 28%;
    color: #fff;
    background: #f05462;
    font-size: 20px;
    font-weight: 200;
    border: 1px solid #f05462;
    border-radius: 10px;
}

.p-img form .icon button:hover {
    color: #000;
    background: steelblue;
    border: 1px solid steelblue;
    border-radius: 20px;
    margin-bottom: 80px;
}

.p-sec {
    margin-left: 25%;
    background: rgb(201, 200, 200);
    width: 500px;
    border-radius: 20px;
}

.p-sec h2 {
    margin-top: 30px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
}

.p-sec form {
    justify-content: center;
    text-align: center;
    margin-bottom: 20px;
}

.p-sec form label {
    font-size: 20px;
    font-weight: 300;
}

.p-sec form input {
    width: 250px;
    height: 30px;
    font-size: 20px;
    border: 1px solid rgb(201, 200, 200);
    border-radius: 10px;
    margin-bottom: 20px;
}

.p-sec button {
    width: 200px;
    font-size: 40px;
    font-weight: 300;
    background: #f05462;
    color: #fff;
    border: 2px solid #f05462;
    border-radius: 20px;
    margin-bottom: 20px;
}

.p-sec button:hover {
    color: #000;
    background: steelblue;
    border: 2px solid steelblue;
    border-radius: 10px;
}